<h1><%= @event.title %></h1>
<small><%= link_to @event.meetup_url, @event.meetup_url, target: '_blank' %></small>
<p>Event Certifier Request: <%= link_to event_request_url(@event.id.to_s(36)), event_request_url(@event.id.to_s(36)) %>
